<div class="column">
	<nav class="panel">
		<p class="panel-heading">Who to Follow</p>
		<div class="panel-block">
			<article class="media">
				<div class="media-left">
					<figure class="image is-32x32">
						<img src="https://scontent.fgru5-1.fna.fbcdn.net/v/t1.0-1/p40x40/22886084_10214174172097896_961751875405140238_n.jpg?oh=39b7b8033a1a5dea8c6d54e2f01043e3&oe=5B040740">
					</figure>
				</div>
				<div class="media-content">
					<div class="content">
						<p>
							<strong>John Smith</strong>
							<small>@johnsmith</small>
						</p>
					</div>
				</div>
			</article>
		</div>
		
		<div class="panel-block">
			<article class="media">
				<div class="media-left">
					<figure class="image is-32x32">
						<img src="https://scontent.fgru5-1.fna.fbcdn.net/v/t1.0-1/p40x40/22886084_10214174172097896_961751875405140238_n.jpg?oh=39b7b8033a1a5dea8c6d54e2f01043e3&oe=5B040740">
					</figure>
				</div>
				<div class="media-content">
					<div class="content">
						<p>
							<strong>John Smith</strong>
							<small>@johnsmith</small>
						</p>
					</div>
				</div>
			</article>
		</div>
		
		<div class="panel-block">
			<article class="media">
				<div class="media-left">
					<figure class="image is-32x32">
						<img src="https://scontent.fgru5-1.fna.fbcdn.net/v/t1.0-1/p40x40/22886084_10214174172097896_961751875405140238_n.jpg?oh=39b7b8033a1a5dea8c6d54e2f01043e3&oe=5B040740">
					</figure>
				</div>
				<div class="media-content">
					<div class="content">
						<p>
							<strong>John Smith</strong>
							<small>@johnsmith</small>
						</p>
					</div>
				</div>
			</article>
		</div>
	</nav>


</div>
